<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @pledge.user.first_name %> Backed Your Project</h1>
    <p>
      You have received <%= @pledge.amount %> in backing from <%= @pledge.user.first_name %> <%= @pledge.user.last_name %>.
    </p>
  </body>
</html>